## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [16]:
import pandas as pd

rec = pd.read_csv(r'C:\\Users\\1\\Downloads\\02_pandas_v1\\data\\recipes_sample.csv')
rev = pd.read_csv(r'C:\\Users\\1\\Downloads\\02_pandas_v1\\data\\reviews_sample.csv')

rec = pd.DataFrame(rec)
rev = pd.DataFrame(rev)

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [19]:
len(rec.index)

30000

In [20]:
len(rev.index)

126696

In [21]:
len(rec.columns)

8

In [22]:
len(rev.columns)

6

In [23]:
rec.dtypes

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [24]:
rev.dtypes

Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [25]:
rec.isna().any()

name              False
id                False
minutes           False
contributor_id    False
submitted         False
n_steps            True
description        True
n_ingredients      True
dtype: bool

In [26]:
rev.isna().any()

Unnamed: 0    False
user_id       False
recipe_id     False
date          False
rating        False
review         True
dtype: bool

In [27]:
rec.isna().any(axis=1).sum()

17054

In [28]:
rev.isna().any(axis=1).sum()

17

In [29]:
rec.isna().any(axis=1).sum() / len(rec.index)

0.5684666666666667

In [30]:
rev.isna().any(axis=1).sum() / len(rev.index)

0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [41]:
rec.mean(axis=0)

C:\Users\1\AppData\Local\Temp\ipykernel_28844\4180779637.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  rec.mean(axis=0)

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

In [42]:
rev.mean(axis=0)

C:\Users\1\AppData\Local\Temp\ipykernel_28844\2790029482.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  rev.mean(axis=0)

Unnamed: 0    5.660898e+05
user_id       1.408013e+08
recipe_id     1.600944e+05
rating        4.410802e+00
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [43]:
rec.sample(n = 10)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
16855,mango chili salsa,249800,60,307114,2007-08-29,3.0,this salsa recipe is great with barbecued fish...,10.0
17027,marie s vegan banana pecan bread,188357,16,212049,2006-09-29,NaN,the name says it all. and it's yummy. such a g...,9.0
20033,pat s biscuits,262531,35,568297,2007-10-31,NaN,this recipe was given to us by a family friend...,5.0
24414,skordomakarona santorini spaghetti,423833,20,678366,2010-05-07,7.0,skordomakarona is actually garlic spaghetti wi...,9.0
18055,monkey food,309434,25,209747,2008-06-15,NaN,this will really be a hit with the kids!,7.0
8993,curried green beans for canning,232551,75,200862,2007-06-05,NaN,some time ago someone was looking for a recipe...,7.0
11050,fish pot au feu,351025,45,330545,2009-01-21,14.0,a modified classic from the sunset low-fat coo...,NaN
20354,peas and mushroom alfredo,255415,30,166642,2007-09-26,11.0,this is something quick and easy that i serve ...,NaN
18711,no cook marshmallow frosting,3731,0,1534,1999-11-10,5.0,NaN,5.0
18081,moose meat one dish meal ojibway,164559,46,310755,2006-04-17,NaN,very yummy native american dish can replace mo...,10.0

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [49]:
rev2 = rev
rev2.reset_index()

,index,Unnamed: 0,user_id,recipe_id,date,rating,review
0,0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...,...
126691,126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [53]:
rec[(rec['minutes'] <= 20) & rec['n_ingredients'] <= 5]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [59]:
rec2 = rec
rec2['submitted'] = pd.to_datetime(rec2['submitted'])

rec2['submitted']

0       2002-10-25
1       2003-07-26
2       2002-08-29
3       2002-07-27
4       2004-02-23
           ...
29995   2007-11-25
29996   2009-08-24
29997   2004-11-03
29998   2012-08-29
29999   2008-04-15
Name: submitted, Length: 30000, dtype: datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [65]:
rec3 = rec2.loc[(rec2['submitted'] < '2010-01-01')]
rec3

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [66]:
rec['description_length']  = rec['description'].str.len()

In [67]:
rec[:3]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [70]:
rec['name'] = rec['name'].str.lower()

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [75]:
rec['name_word_count']  = rec['name'].str.split()
rec['name_word_count'] = rec['name_word_count'].str.len()

rec[:3]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [79]:
a = rec.groupby('contributor_id')['contributor_id'].count()
a

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: contributor_id, Length: 8404, dtype: int64

In [82]:
a.idxmax()

89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [88]:
import numpy as np
rev2 = rev.groupby('recipe_id')['rating'].agg([pd.DataFrame.mean])

In [89]:
rev2[:3]

               mean
recipe_id
48         1.000000
55         4.750000
66         4.944444

In [105]:
revn = rev[rev['review'].notna()]
revn = revn[revn['rating'].notna()]

revn2 = pd.concat([rev,revn]).drop_duplicates(keep=False)

In [103]:
revn2 = revn2.groupby('recipe_id')['recipe_id'].count()

In [104]:
revn2

recipe_id
3662      1
9054      3
15553     1
25190     1
86868     1
89207     1
107786    1
128956    1
155430    1
167202    1
245231    1
335709    1
391660    1
522925    1
524744    1
Name: recipe_id, dtype: int64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [95]:
rev3 = rev
rev3['date'] = pd.to_datetime(rev3['date'])
rev3 = rev3['date'].groupby([rev3.date.dt.year]).agg('count')

In [96]:
rev3

date
2000       13
2001      305
2002     2494
2003     3879
2004     5070
2005     7577
2006     9964
2007    15634
2008    18614
2009    17672
2010    12094
2011     8118
2012     6095
2013     5679
2014     3445
2015     2715
2016     2071
2017     2926
2018     2331
Name: date, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [106]:
new_rev =  pd.concat([rev,revn2]).drop_duplicates(keep=False)

In [112]:
new_rev2 = pd.DataFrame({'id': new_rev['recipe_id'], 'user_id' : new_rev['user_id'], 'rating' : new_rev['rating']})

In [119]:
new_rec = rec
new_rec = new_rec[new_rec['id'] != revn2['recipe_id']]

ValueError: Can only compare identically-labeled Series objects

In [120]:
#проблемы с получением имени

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [122]:
rec.sort_values('name_word_count', ascending=False)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
26223,subru uncle s whole green moong dal i ll be ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343.0,15
28083,tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436.0,14
26222,subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087.0,14
27876,top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129.0,14
5734,chicken curry or cat s vomit on a bed of magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,144.0,13
...,...,...,...,...,...,...,...,...,...,...
3253,blackmoons,323195,430,415934,2008-09-04,5.0,my mom was a newlywed in the 1950s when she fo...,NaN,389.0,1
4138,bushwhacker,156521,10,177392,2006-02-17,1.0,this drink is an excellent after dinner drink ...,6.0,124.0,1
2357,basbousa,12957,60,18391,2001-10-20,NaN,this is a traditional middle eastern dessert. ...,NaN,78.0,1
15052,josefinas,264859,20,498271,2007-11-11,7.0,"from the junior league of corpus christi tx, t...",NaN,92.0,1
4710,caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341.0,1

In [123]:
rec.to_csv('rec')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.