# Работа с Excel

Материалы:
* Макрушин С.В. Лекция 7: Работа с Excel
* https://docs.xlwings.org/en/stable/quickstart.html
* https://nbviewer.jupyter.org/github/pybokeh/jupyter_notebooks/blob/master/xlwings/Excel_Formatting.ipynb#search_text

## Лабораторная работа 7.1

1. Загрузите данные из файлов `reviews_sample.csv` (__ЛР2__) и `recipes_sample.csv` (__ЛР5__) в виде `pd.DataFrame`. Обратите внимание на корректное считывание столбца(ов) с индексами. Оставьте в таблице с рецептами следующие столбцы: `id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`

In [2]:
import pandas as pd

reviews = pd.read_csv('C:\\Users\\1\\Downloads\\04_tables\\data\\reviews_sample.csv')

recipes = pd.read_csv('C:\\Users\\1\\Downloads\\04_tables\\data\\recipes_sample.csv')[['id', 'name', 'minutes', 'submitted', 'description', 'n_ingredients']]

In [4]:
recipes[:3]

,id,name,minutes,submitted,description,n_ingredients
0,44123,george s at the cove black bean soup,90,2002-10-25,an original recipe created by chef scott meska...,18.0
1,67664,healthy for them yogurt popsicles,10,2003-07-26,my children and their friends ask for my homem...,NaN
2,38798,i can t believe it s spinach,30,2002-08-29,"these were so go, it surprised even me.",8.0

In [5]:
reviews[:3]

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."

2. Случайным образом выберите 5% строк из каждой таблицы и сохраните две таблицы на разные листы в один файл `recipes.xlsx`. Дайте листам названия "Рецепты" и "Отзывы", соответствующие содержанию таблиц.

In [8]:
rreviews = reviews.sample(n=int((5/100) * len(reviews)))

rrecipes = recipes.sample(n=int((5/100) * len(recipes)))

with pd.ExcelWriter("recipes.xlsx") as writer:
    
    rrecipes.to_excel(writer, sheet_name = "recipes")
    rreviews.to_excel(writer, sheet_name = "reviews")
    
rrecipes

,id,name,minutes,submitted,description,n_ingredients
22089,101972,rainforest cookies,32,2004-10-14,this came from a cooking newsgroup i lurk in o...,NaN
24099,171129,shrimp salad sandwich paula deen,20,2006-06-02,another wonderful paula deen recipe. i like t...,11.0
19241,61810,oniony potatoes,35,2003-05-08,great oniony potatoes that make their own grav...,3.0
20143,298802,peach rhubarb jam,30,2008-04-16,this is a variation of the blueberry rhubarb j...,6.0
12816,171002,grilled bourbon marinated pork chops or pork t...,720,2006-06-01,plan ahead the pork needs to marinade for a mi...,NaN
...,...,...,...,...,...,...
13360,87915,hash browns chicken soup,50,2004-03-31,i found this recipe in our local monthly elect...,7.0
17173,216504,mashed potato cheese and chive gratin,60,2007-03-13,this is a family favorite. it's simple and can...,NaN
26560,49744,sweet sour deviled eggs,15,2003-01-03,my mother-in-law made these for our christmas ...,9.0
10009,309553,easy fries,5,2008-06-15,an easy and fast way to make fries without a d...,2.0
26383,204131,sunsational sun brewed iced tea,245,2007-01-08,a wonderful sun iced tea recipe i got from goo...,4.0

3. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_assign`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи присваивания массива значений диапазону ячеек.

In [28]:
import xlwings as xw

ans = xw.Book("recipes.xlsx")
ans2 = ans.sheets("Recipes")


ans2["H1"].value = "seconds_assign"
s = recipes["minutes"] * 60
ans2.range("H2").options(transpose = True).value = list(s)

4. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_formula`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи формул Excel.

In [ ]:
ans2["I1"].value = "seconds_formula"

for i in range(2, len(s)+2):
    ans2.range('I'+str(i)).formula = '=H' + str(i)

5. Сделайте названия всех добавленных столбцов полужирными и выровняйте по центру ячейки.

6. Раскрасьте ячейки столбца `minutes` в соответствии со следующим правилом: если рецепт выполняется быстрее 5 минут, то цвет - зеленый; от 5 до 10 минут - жёлтый; и больше 10 - красный.

7. Добавьте на лист `Рецепты`  столбец `n_reviews`, содержащий кол-во отзывов для этого рецепта. Выполните задание при помощи формул Excel.

## Лабораторная работа 7.2

8. Напишите функцию `validate()`, которая проверяет соответствие всех строк из листа `Отзывы` следующим правилам:
    * Рейтинг - это число от 0 до 5 включительно
    * Соответствующий рецепт имеется на листе `Рецепты`
    
В случае несоответствия этим правилам, выделите строку красным цветом

9. В файле `recipes_model.csv` находится модель данных предметной области "рецепты". При помощи пакета `csv` считайте эти данные. При помощи пакета `xlwings` запишите данные на лист `Модель` книги `recipes_model.xlsx`, начиная с ячейки `A2`, не используя циклы. Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

10. При помощи пакета `xlwings` добавьте в столбец J формулу для описания столбца на языке SQL. Формула должна реализовывать следующую логику:

    1\. в начале строки идут значения из столбцов В и C (значение столбца С приведено к верхнему регистру), разделенные пробелом
    
    2\. далее идут слова на основе столбца "Ключ"
        2.1 если в столбце "Ключ" указано значение "PK", то дальше через пробел идет ключевое слово "PRIMARY KEY"
        2.2 если в столбце "Ключ" указано значение "FK", то дальше через пробел идет ключевое слово "REFERENCES", затем значения столбцов H и I в формате "название_таблицы(название_столбца)"
        
    3\. если в столбце "Обязательно к заполнению" указано значение "Y" и в столбце "Ключ" указано не "PK", то дальше через пробел идет ключевое слово "NOT NULL".

Заполните этой формулой необходимое количество строк, используя "протягивание". Количество строк для протягивания определите на основе данных.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

11. При помощи пакета `xlwings` измените стилизацию листа `Модель`.
* для заголовков добавьте заливку цвета `00ccff`
* примените автоподбор ширины столбца;
* сделайте шрифт заголовков полужирным;
* добавьте таблице автофильтр.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

12. Посчитайте количество атрибутов для каждой из сущностей. Создайте лист `Статистика` и запишите в него результат группировки, начиная с ячейки "А1". Визуализируйте полученный результат при помощи столбчатой диаграммы. Сохраните полученную визуализацию на лист `Статистика`, начиная с ячейки "E2".  Сделайте скриншот листа `Статистика` и прикрепите в ячейку ноутбука.

* Вы можете воспользоваться методами для визуализации, которые поставляются вместе с объектами `pandas` (см. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot)